body {
  background-color: #bc4749;
  color: #fff;
}

.faq-accordion {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Consolas", monospace;
}

.faq-item {
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #778da9;
}

.faq-item-header {
  padding: 15px;

  cursor: pointer;
  font-size: 20px;
  color: #fff;
  transition: background-color 0.3s ease;
  border: none;
}

.faq-item-header:hover {
  background-color: #e0e1dd;
  color: #333;
}
.faq-item-body {
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.faq-item.active .faq-item-body {
  max-height: 300px;
}

.faq-item-body-content {
  padding: 15px;
  margin-top: 10px;
  color: #555;
}
